.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 64px; /* Match the size of the rocket icon */
  height: 64px;
  pointer-events: none;
  z-index: 4; /* Adjust z-index to ensure proper layering */
  transform: translate3d(-32px, -32px, 0) rotate(+45deg); /* Initial rotation to align the rocket tip */
  transition: transform 0.3s ease-out;
}